<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="QLTC" connectionString="data source=ADMIN\SQLEXPRESS;initial catalog=QL_TiecCuoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="QLTC1" connectionString="data source=ADMIN\SQLEXPRESS;initial catalog=QL_TiecCuoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="QLTCdbContext" connectionString="data source=ADMIN\SQLEXPRESSS;initial catalog=QL_TiecCuoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="QLTC2" connectionString="data source=ADMIN\SQLEXPRESS;initial catalog=QL_TiecCuoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Modelss.Properties.Settings.QL_TiecCuoiConnectionString"
      connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QL_TiecCuoi;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Modelss.Properties.Settings.QL_TiecCuoiConnectionString1"
      connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QL_TiecCuoi;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Modelss.Properties.Settings.QL_TiecCuoiConnectionString2"
      connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QL_TiecCuoi;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>